<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<ul id="example-1">
    <li v-for="item in items">
      {{ item.message }}
    </li>
</ul>

<ul id="example-2">
    <li v-for="(item, index) in items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
</ul>

<ul id="v-for-object" class="demo" v-bind:key="object.name">
    <div v-for="(value, name, index) in object">
        {{ index }}. {{ name }}: {{ value }}
    </div>
</ul>

<div id="v-for-numbers">
    <span v-for="n in 10">{{ n }} </span>
</div>

<div id="v-for-even-numbers">
    <li v-for="n in even(numbers)">{{ n }}</li>
</div>

<script>
var example1 = new Vue({
    el: '#example-1',
    data: {
        items: [
            { message: 'Foo' },
            { message: 'Bar' }
        ]
    }
})

var example2 = new Vue({
    el: '#example-2',
    data: {
    parentMessage: 'Parent',
        items: [
            { message: 'Foo' },
            { message: 'Bar' }
        ]
    }
})

new Vue({
    el: '#v-for-object',
    data: {
        object: {
            title: 'How to do lists in Vue',
            author: 'Jane Doe',
            publishedAt: '2016-04-10'
        }
    }
})

new Vue({
    el: '#v-for-numbers',
    data: {
        numbers: [ 1, 2, 3, 4, 5 ]
    },
    methods: {
        even: function (numbers) {
            return numbers.filter(function (number) {
            return number % 2 === 0
            })
        }
    }
})

new Vue({
    el: '#v-for-even-numbers',
    data: {
        numbers: [ 1, 2, 3, 4, 5 ]
    },
    methods: {
        even: function (numbers) {
            return numbers.filter(function (number) {
            return number % 2 === 0
            })
        }
    }
})

</script>